body {
    font-family: 'Roboto', sans-serif;    
    margin: 0;
    height: 100vh;
}
/* Top of the page */
header{
    display:flex;
    align-items: center;
    justify-content:center;
    column-gap: 60%;
}
p {
    overflow: hidden;
    max-width: 55ch;
  }
.container--top{
    background-color: #1F2937;    
    display:flex;
    flex-flow: column wrap;
    
}  
.header--logo {
    gap: 50%;
    font-size: 24px;
    color: #F9FAF8;
}


.left-links,.right-links {
    display: flex;
    
    gap:20px;
    font-size: 18px;
    color:#E5E7EB;
    align-items: center;
}


.content--top{
    font-size: 18px;
    font-weight: 800;
    color: #F9FAF8;
    display: flex;
    flex-wrap:wrap;
    
}
.content--top--left{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.button--blue--top{
    width:100px;
    height:auto;

}

.image--top{
    width: 300px;
    height: auto;
    border-radius: 5px;
    border: 1px solid hsl(210, 11%, 14%);
}

/* Bottom of the page */

footer{
    background-color: #1F2937;   
    font-size: 18px;
    color: #E5E7EB;
    display:flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: auto;

}

.container--bottom{
    height: 100vh;
    background-color: #E5E7EB;
    padding:48px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.section--images--subtext {
    display: flex;
    column-gap: 35px;

    
}
.section--quote{
    display: flex;
    flex-direction: column;
}

.footer{
    padding: 0 0 0 0;
}