@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;    
    height: 100vh;
    margin: 40px;
}
html{
    background-color:#222222;
    margin: 50px;
}
/* Top of the page */
header{
    display:flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: 60%;
    padding: 0 20px 60px 0;
}
p {
    overflow: hidden;
    max-width: 55ch;
    font-weight: 400;
}
a{
    text-decoration: none;
    color:hsl(81, 40%, 65%)
}
.container--top{
    background-color: #1F2937;    
    padding: 50px 120px 50px 120px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}  
.header--logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
    border-radius: 50%;
}
.right-links {
    display: flex;    
    gap:20px;
    font-size: 18px;
    color:#E5E7EB;
}

.content--top{
    font-size: 18px;    
    color: #F9FAF8;
    display: flex;
    flex-wrap:wrap;
    font-weight: 700;
    justify-content:space-between;
    align-content: flex-start;
}
.button--blue--top{
    width:100px;
    height:auto;
    background-color: #3882F6;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    color:#FFFFFF;
}

.button--blue-bottom{
    width:100px;
    height:auto;
    background-color: #3882F6;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:8px;
    padding:10px;
    border:1px solid white;
    
    box-sizing: border-box;
    color:#FFFFFF;
}

.image--top{
    width: 60vh;
    height: 30vw;
    border-radius: 15px;
    border: 3px solid hsl(210, 11%, 14%);
}

/* Bottom of the page */

footer{
    background-color: #1F2937;   
    font-size: 14px;
    color: #E5E7EB;
    padding: 10px;
    display:flex;
    justify-content: center;
    margin-top: auto;

}

.container--bottom{
    background-color: #E5E7EB;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 120px 50px 120px;
    overflow: scroll;
    gap: 150px;

}
.section--images {
    display: flex;
    gap: 35px;
    
}
.images--info{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 0.1rem solid hsl(80, 30%, 74%);
    transition: transform .2s;
}
.images--info:hover{
    transform: scale(1.25);
    
}
.section--quote{
    text-align: center;
    font-size:36px;
    font-style: italic;
    font-weight: 300;
}
.section--blue{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #3882F6;
    padding: 20px;
    color: white;
    border-radius: 10px;
    gap: 70px;
}
.flexy{
    display: flex;
    flex-direction: column;
}

figure.item{
    width: 30ch;
    text-align: center;
}
.caption{
    display: block;
}